
@blue-color: rgba(63, 58, 193, 0.92);
@color-btn: #26D3C8;
@light: #fff;

body{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;	
}

section{
	padding: 50px 0;
}

.section-header{
	margin-bottom: 60px;
	padding: 0;
	text-align: center;
	h2{
		line-height: 6px;
		font-size: 22px;
		font-weight: bold;
	}
}

.button{
	margin: 0;
	padding: 20px 35px;
	text-align: center;
	text-transform: uppercase;
	color: @light;
	border:none;
	border-radius: 5px;
	background-color: @color-btn;
}

.main{
	background: url(../img/header-bg.jpg) top no-repeat;
	background-size: 100%;
	text-align: center;
	.header{	//шапка
		position: static;
		
		padding-top: 15px;
		color:@light;
		.logo-text{
			margin-top: 7px;
			line-height: 3px;
			text-align: left;
			h3{
				font-style: 20px;
				font-weight: bold;
				line-height: 14px;
			}
			h4{
				font-size: 18px;
				font-weight: bold;
			}
		}
		.switch{
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.radiobutton, .burger-btn{	//обозначение нажатия кнопки
		display: none;
		&:checked + .label-menu{
			background-color: @blue-color;
		}
	}

	input[id="tab-1"]:checked ~ .main-content .tab-1,
	input[id="tab-2"]:checked ~ .main-content .tab-2,
	input[id="tab-3"]:checked ~ .main-content .tab-3,
	input[id="tab-4"]:checked ~ .main-content .tab-4,
	input[id="tab-5"]:checked ~ .main-content .tab-5,
	input[id="tab-6"]:checked ~ .main-content .tab-6,
	input[id="tab-7"]:checked ~ .main-content .tab-7{
		display: block;
	}

	.label-menu{	//стили меню
		cursor: pointer;
		display: inline-block;
		margin-top: 70px;
		padding: 16px 18px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: @light;
	}
	
	.menu-burger{
		display: none;
	}


		
	&-content{
		position: relative;
		color: black;
		.content{				
			display: none;
		}

		&-metro{	//стили первой страницы "о метрополитене"

			input{	//строка поиска
				position: relative;
				display: inline-block;
				margin-top: 20px;
				padding: 0;
				width: 100%;
				height: 35px;
				font-size: 15px;
				border-color:@blue-color;
				background: url(../img/icon.png) left no-repeat;
				padding-left: 33px;
			}

			&-slider{	//слайдер с картинками
				margin-top: 10px;
				
				&-item{
					.metro-text{
							
						position: absolute;

						padding: 12px 12px;
						width: 250px;
						transform: translate(180%, -100%);
						background: rgba(255, 255, 255, 0.8);
						
						&-header{
							h3{
								
								font-size: 12px;
								text-transform: uppercase;
							}
						}
							
							p{
								margin: 30px auto 65px;
								line-height: 14px;
								text-align: justify;
								font-size: 11px;
							}

						&-btn{
							background-color: @blue-color;
						}
					
					}
				}
			}
		}
	}
	&-navbtn-prev{	//кнопка перелистывания картинок
		position: absolute;
		background-color: @blue-color;
		padding: 7px 10px;
		z-index: 1;
		border: none;
		transform: translateY(930%);

	}
	&-navbtn-next{	//кнопка перелистывания картинок
		position: absolute;
		background-color: rgba(255, 255, 255, 0.5);
		border: none;
		padding: 7px 10px;
		margin-left: 40px;
		transform: translateY(-95%);
	}
	
	.subway{
		text-align: justify;
		
		&-header{
			margin-top: 20px;
			text-align: left;
			h2{
				font-size: 22px;
				color: @blue-color;
				text-transform: uppercase;
				font-weight: bold; 
			}
			h3{
				font-size: 18px;
				font-weight: bold;

			}
		}
		&-head{
			float: left;
			margin: 7px 7px 7px 0;

		}

		&-list{
			text-align: left;
			list-style-image: url("../img/list-numeration.png");
			li{
				margin-bottom: 15px;
			}
		}
		&-image{
			margin-top: 35px;
		}
	}
}

.info{
	text-align: center;
	&-slider{

		&-item{	
			
			&-text{

				border: 3px solid @color-btn;
				border-radius: 15px;
				
				margin-left: 70px;
				padding: 10px;
				width: 240px;
				height: 330px;
				font-size: 12px;
				.circle{
					
					width: 92px;
					height: 92px;
					
					border: 5px solid @color-btn;
					border-radius: 50%;
					transform: translateX(70%);
					color: @light;
					img{
						display: block;
						margin: 10px auto;
					}
				}
				p{
					margin-top: 20px;
				}
			}	
		}
	}
	&-btn{
		margin: 10px 0 50px 0;
	}

	&-navbtn-prev{	//кнопка перелистывания картинок
		left: -20px;
		background-size: 70%;
	}
	&-navbtn-next{	//кнопка перелистывания картинок
		right: -30px;
		background-size: 70%;
	}

	&-link{
		font-size: 14px;
		color: black;
		border-bottom: 1px solid;

		&:hover{
			text-decoration: none;
		}
	}
}

.arrow{
	position: absolute;
	background-color: @blue-color;
	padding: 7px 10px;
	border-radius: 50%;
	border: none;
	z-index: 99;
	top: 50%;
	transform: translateY(-50%);
}

.slick-active{
	outline: none;
}

.news{
	background: url(../img/news-bg-header.jpg) top no-repeat;
	background-size: 1440px 100px;
	.container{

	}
		&-header{
			text-transform: uppercase;
			text-align: left;
			h3{
				font-size: 20px;
				font-weight: bold;
				color:@light;
			}		
		}

	 	&-content{
	 		
	 		&-item{
				border: 2px solid @blue-color;
				margin: 10px;
				padding: 10px 0;
				&-text{
					display: inline-block;
					h4{
						font-size: 12px;
						color: @blue-color;	
						font-weight: bold;
					}
					font-size: 10px;
				}
				img{
					width: 130px;
					height: 80px;
				}
			}
	 	}
	&-btn{
		display: block;
		margin: 10px 0;
		width: 100%;
		box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.11);

	}
	&-link{
		font-size: 12px;
		color: #000;
		margin-left: 10px;
		border-bottom: 1px solid;	

		&:hover{
			text-decoration: none;
		}
	}
}
.date{
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	background-color: @blue-color;
	height: 100%;
	font-size: 15px;
	color: @light;

}
.footer{
	background: url(../img/footer-bg.jpg) bottom no-repeat;
	background-size: 100%;
		
		&-slider{
		text-align: center;
		img{
			margin-right: 110px;
		}
	}
	
	&-text{
		left: 0;
		top:50%;
		transform: translateY(2000%);
		color: @light;
	}

	&-item{
		text-align: right;
		font-size: 14px;
			color: @light;
		&-text{
			margin-top: 150px;
		}
		&-btn{
			margin: 40px 10px;
			padding:  15px 20px;
		}
	}
}
@media (max-width: 900px){
	.main{
		background: url(../img/mobile-header.jpg) top no-repeat;
			background-size: 100%;
		.header{
			
			.logo-text{
				p{
					display: none;
				}
			}
		}

		.menu-burger{
			position: absolute;
			display: block;
			right: 0;
			top: 0;
			margin-right: 50px;
			margin-top: 7px;
		}

		.burger-btn{	//обозначение нажатия кнопки
			display: none;
		}
		
		input[id="burg"]:checked ~ .burg{
			display: block;
		}
		input[id="burg2"]:checked ~ .burg2{
			display: none;
		}
		

		.label-menu{	//стили меню
			cursor: pointer;
			background: @color-btn;
			margin: 0;
			padding: 10px 12px;
			width: 200px;
			text-align: center;
			font-size: 10px;
			right: 0;
			transform: translateX(150%);
			//font-weight: bold;
			color: @light;
		}
		.metro-text{
							
			position: absolute;

			padding: 12px 12px;
			width: 250px;
			transform: translate(105%, -100%);
			background: rgba(255, 255, 255, 0.8);
			
			&-header{
				h3{
					
					font-size: 12px;
					text-transform: uppercase;
				}
			}
				
				p{
					margin: 30px auto 65px;
					line-height: 14px;
					text-align: justify;
					font-size: 11px;
				}

			&-btn{
				background-color: @blue-color;
			}
		
		}
	}

	.info{
		text-align: center;
		&-slider{

			&-item{	
				background: url(../img/mobile-header.jpg) bottom no-repeat;
						background-size: 100% 300px;

				&-text{
					position: relative;
					border: none;
					transform: translate(20%, 30%);
					margin-top: 0;
					padding: 0;
					
					font-size: 12px;
					.circle{
						width: 92px;
						height: 92px;
						
						background: @color-btn;
						border-radius: 50%;
						
						
						img{
							display: block;
							margin: 10px auto;
						}
					}
					p{
						margin-top: 20px;
						transform: translate(-17%, -10%);
						color: @light;
						line-height: 1.4;
						font-size: 14px;
						width: 350px;
					}
				}
					
			}
		}		
		&-link{
			display: none;
		}
	}
	
	.news-btn{
		position: relative;
		display: inline-block;
		padding: 15px 10px;
		width: 30%;
		padding-right: 5px;
		font-size: 10px;
		border: none;
		background-color: @blue-color;
		img{
			width: 40px;
		}
	}

	.footer{
		background: url(../img/footer-bg.jpg) right bottom no-repeat;
		background-size: cover;
		.section-header{
			display: none;
		}
		&-slider{
			display: none;
		}
		
		&-text{
			font-size: 10px;
		}

		&-item{
			
			font-size: 10px;
			&-text{
				
				//font-size: 10px;
			}
			&-btn{
				padding: 5px 10px;
				margin: 0;
				margin-bottom: 33px;
			}
		}
	}
}