body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
body h2 {
  line-height: 6px;
  font-size: 24px;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
.header {
  position: relative;
  background: url(../img/header-bg.jpg) top no-repeat;
  background-size: cover;
  padding-top: 15px;
  color: #ffffff;
}
.header .logo-text {
  margin-top: 7px;
  line-height: 6px;
}
.header .logo-text h4 {
  font-size: 20px;
  font-weight: bold;
}
.header .switch {
  font-weight: bold;
  text-transform: uppercase;
}
.header nav {
  margin: 0;
  padding: 0;
}
.header nav ul {
  margin-top: 50px;
  text-align: center;
}
.header nav ul li {
  display: inline-block;
  padding: 20px 22px;
}
.header nav ul li:hover {
  background-color: rgba(63, 58, 193, 0.92);
}
.header nav ul li a {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
