body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
section {
  padding: 50px 0;
}
.section-header {
  margin-bottom: 60px;
  padding: 0;
  text-align: center;
}
.section-header h2 {
  line-height: 6px;
  font-size: 22px;
  font-weight: bold;
}
.button {
  margin: 0;
  padding: 20px 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #26d3c8;
}
.main {
  background: url(../img/header-bg.jpg) top no-repeat;
  background-size: 100%;
  text-align: center;
}
.main .header {
  position: static;
  padding-top: 15px;
  color: #ffffff;
}
.main .header .logo-text {
  margin-top: 7px;
  line-height: 3px;
  text-align: left;
}
.main .header .logo-text h3 {
  font-style: 20px;
  font-weight: bold;
  line-height: 14px;
}
.main .header .logo-text h4 {
  font-size: 18px;
  font-weight: bold;
}
.main .header .switch {
  font-weight: bold;
  text-transform: uppercase;
}
.main .radiobutton {
  display: none;
}
.main .radiobutton:checked + label {
  background-color: rgba(63, 58, 193, 0.92);
}
.main input[id="tab-1"]:checked ~ .main-content .tab-1,
.main input[id="tab-2"]:checked ~ .main-content .tab-2,
.main input[id="tab-3"]:checked ~ .main-content .tab-3,
.main input[id="tab-4"]:checked ~ .main-content .tab-4,
.main input[id="tab-5"]:checked ~ .main-content .tab-5,
.main input[id="tab-6"]:checked ~ .main-content .tab-6,
.main input[id="tab-7"]:checked ~ .main-content .tab-7 {
  display: block;
}
.main label {
  cursor: pointer;
  display: inline-block;
  margin-top: 70px;
  padding: 16px 18px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.main-content {
  position: relative;
  color: black;
}
.main-content .content {
  display: none;
}
.main-content-metro input {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 35px;
  font-size: 15px;
  border-color: rgba(63, 58, 193, 0.92);
  background: url(../img/icon.png) left no-repeat;
  padding-left: 33px;
}
.main-content-metro-slider {
  margin-top: 10px;
}
.main-content-metro-slider-item .metro-text {
  position: absolute;
  padding: 12px 12px;
  width: 250px;
  transform: translate(180%, -100%);
  background: rgba(255, 255, 255, 0.8);
}
.main-content-metro-slider-item .metro-text-header h3 {
  font-size: 12px;
  text-transform: uppercase;
}
.main-content-metro-slider-item .metro-text p {
  margin: 30px auto 65px;
  line-height: 14px;
  text-align: justify;
  font-size: 11px;
}
.main-content-metro-slider-item .metro-text-btn {
  background-color: rgba(63, 58, 193, 0.92);
}
.main-navbtn-prev {
  position: absolute;
  background-color: rgba(63, 58, 193, 0.92);
  padding: 7px 10px;
  z-index: 1;
  border: none;
  transform: translateY(930%);
}
.main-navbtn-next {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 7px 10px;
  margin-left: 40px;
  transform: translateY(-95%);
}
.info {
  text-align: center;
}
.info-slider-item-text {
  border: 3px solid #26d3c8;
  border-radius: 15px;
  margin-left: 70px;
  padding: 10px;
  width: 240px;
  height: 330px;
  font-size: 12px;
}
.info-slider-item-text .circle {
  width: 92px;
  height: 92px;
  border: 5px solid #26d3c8;
  border-radius: 50%;
  transform: translateX(70%);
  color: #ffffff;
}
.info-slider-item-text .circle img {
  display: block;
  margin: 10px auto;
}
.info-slider-item-text p {
  margin-top: 20px;
}
.info-btn {
  margin: 10px 0 50px 0;
}
.info-navbtn-prev {
  left: -20px;
  background-size: 70%;
}
.info-navbtn-next {
  right: -30px;
  background-size: 70%;
}
.info-link {
  font-size: 14px;
  color: black;
  border-bottom: 1px solid;
}
.info-link:hover {
  text-decoration: none;
}
.arrow {
  position: absolute;
  background-color: rgba(63, 58, 193, 0.92);
  padding: 7px 10px;
  border-radius: 50%;
  border: none;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}
.slick-active {
  outline: none;
}
.news {
  background: url(../img/news-bg-header.jpg) top no-repeat;
  background-size: 1440px 100px;
}
.news-header {
  text-transform: uppercase;
  text-align: left;
}
.news-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.news-content-item {
  border: 2px solid rgba(63, 58, 193, 0.92);
  margin: 10px;
  padding: 10px 0;
}
.news-content-item-text {
  display: inline-block;
  font-size: 10px;
}
.news-content-item-text h4 {
  font-size: 12px;
  color: rgba(63, 58, 193, 0.92);
  font-weight: bold;
}
.news-content-item img {
  width: 130px;
  height: 80px;
}
.news-btn {
  display: block;
  margin: 10px 0;
  width: 100%;
  box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.11);
}
.news-link {
  font-size: 12px;
  color: #000;
  margin-left: 10px;
  border-bottom: 1px solid;
}
.news-link:hover {
  text-decoration: none;
}
.date {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(63, 58, 193, 0.92);
  height: 100%;
  font-size: 15px;
  color: #ffffff;
}
.footer {
  background: url(../img/footer-bg.jpg) bottom no-repeat;
  background-size: 100%;
}
.footer-slider {
  text-align: center;
}
.footer-slider img {
  margin-right: 110px;
}
.footer-text {
  left: 0;
  top: 50%;
  transform: translateY(2000%);
  color: #ffffff;
}
.footer-item {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
.footer-item-text {
  margin-top: 150px;
}
.footer-item-btn {
  margin: 40px 10px;
  padding: 15px 20px;
}
